# Fundamental of returns

The return on the asset is nothing more than the difference in the prices

### Price return
$R_{(t,t+1)} = \frac{P_{t+1} - P_{t}}{P_{t}}$

or alternativly

$R_{(t,t+1)} = \frac{P_{t+1}}{P_{t}} - 1$

### Example
You bue stock at 10 USD and sell it at 12 USD

$\frac{12 - 10}{10} = \frac{2}{10} = 0.2 = 20\%$

In [1]:
bue_val = 10
sell_val = 12
ret = (sell_val - bue_val) / bue_val
print("Return is equal to:", ret)

Return is equal to: 0.2

### With dividents (Total return)
That return is what people call a total return. You should always remember to add the dividends back.

$R_{(t,t+1)} = \frac{P_{t+1} + D_{t,t+1}}{P_{t}} - 1 = \frac{P_{t+1} + D_{t,t+1} - P_{t}}{P_{t}}$

> The difference between the total return and the price return is the contribution of dividends. Most stock market index portfolios will contain stocks that generate dividends from time to time. Therefore, total returns over a period will almost always exceed the price returns.

> If the stock portfolio has zero dividends then the portfolio’s total return and the price return will be the same. Although this is rare, it is possible that none of the stocks generated any dividends over the month and therefore the statement is not always true.

## Multi period returns

If you have two time periods, so let's say T0 to T1 and T1 to T2.
You have a return for each time period, the question is, what is the return over the combined time period?

The compounded return over two periods is (1+R1) times (1+R2)- 1

$R_{(t,t+2)} = (1 + R_{t,t+1})*(1 + R_{t+1,t+2}) - 1$

### Example
You bue a stock that returns 10% on the first day than returns -3% on the second day.

So in mind: +10% = 1.1 and -3% is 0.97

$(1 + 0.10)*(1 - 0.03) - 1 = 0.067 = 6.7\%$

You buy a stock at the closing price on Monday. On Tuesday, the stock closes at 10% above Monday's closing price. On Wednesday, it falls and closes at 10% below Tuesday’s closing price and you sell it at that closing price. DId you have a negative, positive or zero return?

$(1 + 0.10) * (1 - 0.10) - 1 = -0,01 = -1\%$

In [2]:
stock_returns = [0.10, -0.10]

ret = 1
 
while stock_returns:
    ret *= 1 + stock_returns.pop(0)

print(round(ret - 1, 4) * 100,"%")

-1.0 %

## Annualizing returns
The last thing we want to talk about is, how do you compare returns across different periods of time? How do you compare monthly return with, say, quarterly return or a daily return? And the answer is a process called **annualization**, and we are going to use annualized returns for almost everything we do when we start reporting numbers

### Example
The return over the month is 1%, what is the annualized return?

Maybe?

$1\% * 12 = 12\%$

Rigt asver is:

$((1 + 0.01)(1 + 0.01)(1 + 0.01)(1 + 0.01)...(12 times) -1)$

Which is equal to:

$((1 + 0.01)^{12} -1) = 0,1268 = 12,68\%$

In [3]:
monthly_returns = [0.01 for _ in range(12)]

ret = 1

while monthly_returns:
    ret *= 1 + monthly_returns.pop(0)
print(round(ret - 1, 4) * 100,"%")

12.68 %

## Lab Session-Basics of returns

In [4]:
prices = [8.7, 8.91, 8.71]
returns = []

def count_ret(prev: float, actual: float):
    return actual / prev - 1

for i, price in enumerate(prices):
    if i:
        prev = prices[i - 1]
        actual = prices[i]
        returns.append(count_ret(prev, actual))
    else:
        continue

print(returns)

[0.024137931034482918, -0.022446689113355678]

### Numpy variant

In [5]:
import numpy as np
prices = [8.7, 8.91, 8.71]
prices_arr = np.array(prices)
prices_arr[1:]/prices_arr[:-1] - 1

array([ 0.02413793, -0.02244669])

### Pandas

In [6]:
import pandas as pd
prices = pd.DataFrame({
    "BLUE": [8.7, 8.91, 8.71, 8.43, 8.73],
    "ORNGE": [10.66, 11.08, 10.71, 11.59, 12.11]
})
prices

   BLUE  ORNGE
0  8.70  10.66
1  8.91  11.08
2  8.71  10.71
3  8.43  11.59
4  8.73  12.11

#### What we divide

In [7]:
prices.iloc[1:]

   BLUE  ORNGE
1  8.91  11.08
2  8.71  10.71
3  8.43  11.59
4  8.73  12.11

#### What we divide by

In [8]:
prices.iloc[:-1]

   BLUE  ORNGE
0  8.70  10.66
1  8.91  11.08
2  8.71  10.71
3  8.43  11.59

#### Wrong wariant!!!

In [16]:
prices.iloc[1:]/prices.iloc[:-1] - 1

   BLUE  ORNGE
0   NaN    NaN
1   0.0    0.0
2   0.0    0.0
3   0.0    0.0
4   NaN    NaN

### Crude working variant

In [21]:
prices.iloc[1:].values/prices.iloc[:-1] - 1

       BLUE     ORNGE
0  0.024138  0.039400
1 -0.022447 -0.033394
2 -0.032147  0.082166
3  0.035587  0.044866

In [22]:
prices.iloc[1:]/prices.iloc[:-1].values - 1

       BLUE     ORNGE
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

### Nice working solution

In [23]:
prices

   BLUE  ORNGE
0  8.70  10.66
1  8.91  11.08
2  8.71  10.71
3  8.43  11.59
4  8.73  12.11

In [24]:
prices/prices.shift(1) - 1

       BLUE     ORNGE
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866